<h1>User</h1>
<div>
  <h2><%= @user.name %></h2>
  <p><%= @user.posts_counter %></p>
</div>
<div>
  <p><%= @user.bio %></p>
</div>
<div>
  <ul>
    <% @latest_three_posts.each do |post| %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
        <p><%= post.comments_counter %></p>
        <p><%= post.likes_counter %></p>
      </li>
    <% end %>
  </ul>
</div>